body {
  font-family: Arial;
}
table {
  border-collapse: collapse;
}
table td {
  border: 3px solid #000;
  padding: 6px;
}
table td table {
	border: 2px solid #FFF;
}
table td table td {
	border: 1px solid black;
	padding: 0px;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
.red {
	background-color:#c96a6a;
}
.blue {
	background-color:#69aec7;
}
#preload1 {
  background: url(o.png) no-repeat -9999px -9999px;
}
#preload2 {
  background: url(x.png) no-repeat -9999px -9999px;
}